* {
    margin: 1em;
}

.pageHeader {
    text-align: center;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.shop {
    flex-basis: 25%;
    padding: 1em;
    border: 1px dotted black;
}

.shop__info {
    list-style-position: inside;
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}


.rep__container {
    display: block;
    padding: 10px;
}

.rep__info {
    text-align: center;
}